In [ ]:
#Q1- Write a Python program to print "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
#Q2- Write a Python program that displays your name and age.
print("Name - Nimisha Mathur")
print("Age - 24")

Name - Nimisha Mathur
Age - 24

In [3]:
#Q3- Write code to print all the pre-defined keywords in Python using the keyword library.
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [4]:
#Q4- Write a program that checks if a given word is a Python keyword.
import keyword
word = input("Enter a word: ")
if keyword.iskeyword(word):
    print(f"{word} is a Python keyword.")
else:
    print(f"{word} is not a Python keyword.")

Enter a word: hello
hello is not a Python keyword.

In [ ]:
#Q5 - Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.
a = [1,2,3,"Ajay","Vijay"] #this is a table, which is mutable and can be changed.
a

[1, 2, 3, 'Ajay', 'Vijay']

In [ ]:
a[3] = "Aman"
a

[1, 2, 3, 'Aman', 'Vijay']

In [ ]:
b = (1,2,3,"Ajay","Vijay") #this is a rowtuple, which is immutable and can't be changed.
b

(1, 2, 3, 'Ajay', 'Vijay')

In [ ]:
b[3] = "Aman"

TypeError: 'tuple' object does not support item assignment

In [ ]:
b #since it is tuple, it is unchangable and will remain same.

(1, 2, 3, 'Ajay', 'Vijay')

In [ ]:
#Q6 & Q7- Write a function to demonstrate the behavior of mutable and immutable arguments.
a = [1,2,3,4.5,"Aman","Ashish","Atul"]
b = (1,2,3,4.5,"Aman","Ashish","Atul")

a[-2] = "Aakash"
a

[1, 2, 3, 4.5, 'Aman', 'Aakash', 'Atul']

In [ ]:
b[-2] = "Aakash"

TypeError: 'tuple' object does not support item assignment

In [ ]:
b #immutable arguments will throw an error, whereas for mutuable the element will be changed.

(1, 2, 3, 4.5, 'Aman', 'Ashish', 'Atul')

In [ ]:
#Q8- Write a program to demonstrate the use of logical operators.
#AND Operator
x = 3
y = 5
if x>=0 and y>=0 :
  print("Both X and Y is positive")

Both X and Y is positive

In [ ]:
#OR Operator
x = -3
y = 5
if x>=0 or y>=0 :
  print("At least one of the X or Y is positive")

At least one of the X or Y is positive

In [ ]:
#NOT Operator
x = 10
if not x == 0:
  print("X is not Zero")

X is not Zero

In [1]:
#Q9 - Write a Python program to convert user input from string to integer, float, and boolean types.
age = int(input("Age: "))

Age: 25

In [2]:
age = float(input("Age: "))

Age: 26

In [5]:
VIPservice = bool(input("Are you a VIP Customer: "))

Are you a VIP Customer: Yes

In [6]:
#Q10 - Write code to demonstrate type casting with list elements.
my_list = [10, 20.5, "30", True]

int_list = [int(x) for x in my_list]
float_list = [float(x) for x in my_list]
str_list = [str(x) for x in my_list]

print("Original List:", my_list)
print("Integer List:", int_list)
print("Float List:", float_list)
print("String List:", str_list)

Original List: [10, 20.5, '30', True]
Integer List: [10, 20, 30, 1]
Float List: [10.0, 20.5, 30.0, 1.0]
String List: ['10', '20.5', '30', 'True']

In [7]:
#Q11 - Write a program that checks if a number is positive, negative, or zero.
number= int(input("Please type a No.:"))
if number >0:
  print ("This no. is Positive")
elif number <0:
  print ("This no. is Negative")
else:
  print ("This no. is Zero")

Please type a No.:65
This no. is Positive

In [8]:
#Q12 -  Write a for loop to print numbers from 1 to 10.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
#Q13 - Write a Python program to find the sum of all even numbers between 1 and 50.
sum = 0
for i in range(1,51):
  if i%2==0:
    sum = sum+i
print(sum)

650

In [10]:
#Q14 - Write a program to reverse a string using a while loop.
a = "Hello World"
while len(a) > 0:
  print(a[-1])
  a = a[:-1]

d
l
r
o
W

o
l
l
e
H

In [11]:
#Q15 - Write a Python program to calculate the factorial of a number provided by the user using a while loop.
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
  factorial *= i
  i += 1
print("The factorial of", num, "is", factorial)

Enter a number: 24
The factorial of 24 is 620448401733239439360000